<h2>List Title: <%= @list.title %></h2>
<h3>List Category: <%= @list.category %></h3>
<h4>List Content: <%= @list.content %></h4>
<h2><a href="/lists/<%= @list.id %>/edit">Edit This List</a></h2>
<h2><a href="/lists/new">Create New List</a></h2>
