<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h2>List Title:<input type="text" name="title" value="<%=@list.title %>"></h2>
  <h3>List Category:<input type="text" name="category" value="<%=@list.category"></h3>
  <h4>List Content:<input type="text" name="content" value="<%=@list.content"></h4>
</form>
