<form action="/lists" method="post">
  <p><input type="text" name="title" placeholder="List Title"></p>
  <p><input type="text" name="category" placeholder="List Category"></p>
  <p><input type="text" name="content" placeholder="List Content"></p>
  <input type="submit" value="Create New List">

  <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
    <div class="flash <%= kind %>">
      <%= flash[kind] %>
    </div>
    <% end %>

</form>
