
<form action="/signup" method="post">

    <input type="text" placeholder="Name" name="name"><br/>
    <input type="text" placeholder="Email" name="email"><br/>
    <input type="text" placeholder="Username" name="username"><br/>
    <input type="password" placeholder="Password" name="password"><br/>
    <input type="submit" value="Sign Up">
    
    <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
        <div class="flash <%= kind %>">
          <%= flash[kind] %>
        </div>
        <% end %>

</form>


<a href="/login">Log In</a>
